@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  background-image: radial-gradient(30% 50%, #555 6%, #333 90%);
}

/* Knob Styling */

.frontPanel {
  height: 720px;
  background-color: #222;
}

.knob {
  display: flex;
  position: relative;
}
.knob .ticks {
  position: absolute;
}
.knob .ticks .tick {
  position: absolute;
  background: white;
  width: 3px;
}

.knob .ticks .tick.active {
  background-color: orange;
}

.knob.outer {
  border-radius: 50%;
  border: 1px solid #222;
  border-bottom: 5px solid #222;
  background-image: radial-gradient(100% 70%, #666 6%, #333 90%);
  box-shadow: 0 5px 15px 2px #333, 0 0 5px 3px #444, 0 0 0 6px #222;
}

.knob.inner {
  border-radius: 50%;
}

.knob.inner .grip {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 3px 1px black;
}
